.cabeçalho_menu_hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-position: center;
    display: inline-block;

}

.cabeçalho {
    background-color: var(--cabe);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;


}

.container_imagem {
   padding: 1em;


}

.lista_menu{ 
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw ;
}

.container_botão:checked~.lista_menu {
   display: block;

}

.menu_lista_titulo,
.menu_lista_item {
  padding: 1em;
  background-color: var(--categorias) ;
  color: var(--letras);
}

.menu_lista_titulo {
     color:var(--titulo);

}

.menu_lista_link {
     background: var(--degradante);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     text-transform: uppercase;


    }