.cabeçalho_menu_hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-position: center;
    display: inline-block;

}

.cabeçalho {
    background-color: var(--cabe);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    padding: 1%;


}

.container_imagem {
  width: 24px;  
  height: 24px; 
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 30px; /* largura do container */
  height: 30px; /* altura do container */
}

.menu_imagem{
  width: 24px;  
  height: 24px; 
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px; /* posição vertical em relação ao topo */
  left: 10px; /* posição horizontal em relação à esquerda */
  
}

.lista_menu{ 
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw ;
}

.container_botão:checked~.lista_menu {
   display: block;

}

.menu_lista_titulo,
.menu_lista_item {
  padding: 1em;
  background-color: var(--categorias) ;
  color: var(--letras);
}

.lista_menu_titulo {
     color: var(--titulo);
     background-clip: text;
     text-transform: uppercase;

}

.lista_menu_link {
     background: var(--degradante);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     text-transform: uppercase;


    }